{% extends "base.html" %}
{% block title %}{{ repo.name }} &middot; {% block subtitle %}{% endblock %}{% endblock %}
{% block content %}
<h2><a href="{{ url_for('repo', repo=repo.name) }}">{{ repo.name }}</a> <span class="owner">by {{ repo.owner }}</span></h2>
{{ repo.description }} {% if readme %}[<a href="#readme">read more</a>]{% endif %}
{% if show_clone_urls and repo.clone_urls %}
<div class="clonelinks">
Clone from
<ul class="cloneurls">
  {% for type, url in repo.clone_urls.items() %}<li class="urllink">{{ type }}<span>{{ url }}</li>{% endfor %}
</ul>
<input type="text" id="cloneurl" value="uhh..." />
</div>
<script type="text/javascript">
init_clone_urls();
</script>
{% endif %}
<div class="tabnav">
  <ul class="tabnav-tabs">
    {% if commit %}
    <li><a class="tabnav-tab {% if tree %}selected{% endif %}" href="{{ url_for('tree', repo=repo.name, path=commit.hex) }}">Files</a></li>
    {% else %}
    <li><a class="tabnav-tab {% if tree %}selected{% endif %}" href="{{ url_for('repo', repo=repo.name) }}">Files</a></li>
    {% endif %}
    {% if ref %}
    <li><a class="tabnav-tab {% if log or commit %}selected{% endif %}" href="{{ url_for('commits', repo=repo.name, ref=ref) }}">Commits</a></li>
    {% else %}
    <li><a class="tabnav-tab {% if log or commit %}selected{% endif %}" href="{{ url_for('commits', repo=repo.name) }}">Commits</a></li>
    {% endif %}
    <li><a class="tabnav-tab {% if tags %}selected{% endif %}" href="{{ url_for('tags', repo=repo.name) }}">Tags</a></li>
    <li class="selector">
      <select id="branches" class="chzn-select">
        {% if symref not in repo.branches() %}
        <option value="{{ symref }}" selected="selected">commit {{ symref[:7] }}</option>
        {% endif %}
        {% for branch in repo.branches() %}
        <option value="{{ branch }}" {% if branch == symref %}selected="selected"{% endif %}>{{ branch }}</option>
        {% endfor %}
      </select>
    </li>
  </ul>
</div>
{% block repo_content %}
{% endblock %}
<script type="text/javascript">
$(".chzn-select").chosen();
$("#branches").change(switch_branch);
</script>
{% endblock %}
